@model InfraMap.Web.MVC.Models.MesaModel

@{
    var colaborador = Model.Colaborador != null ? Model.Colaborador.Nome.Truncate(22) : "";
    var maquina = Model.Maquina != null ? Model.Maquina.Maquina.ModeloMaquina.Name : "";
    var ramal = Model.Ramal != null ? Model.Ramal.Numero : "";
    var pontorede = Model.PontoRede != null ? Model.PontoRede : "";
    var pontotelefone = Model.PontoTelefone != null ? Model.PontoTelefone : "";
    var pontoeletrico = Model.PontoEletrico != null ? Model.PontoEletrico : "";
}

@if (User.IsInRole("INFRA"))
{
    <div class="modal fade" id="InfraModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal" onclick="RetiraDestaqueMesa()">Fechar</button>
                    <h4 class="modal-title" id="myModalLabel">Mesa @Model.Id</h4>
                </div>
                <div class="modal-body form-horizontal">
                    @if (Model.TemColaborador)
                    {
                        <div class="form-inline">
                            <label class="font-14 label-center"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>  Nome: @colaborador</label>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#removerColaborador" data-dismiss="modal">
                                Remover colaborador
                            </button>
                        </div>
                        <h2></h2>
                    }
                    else
                    {
                        <button type="button" class="btn btn-primary form-control" data-toggle="modal" data-target="#colaborador" data-dismiss="modal">
                            Adicionar colaborador
                        </button>
                        <h2></h2>
                    }
                    @if (Model.TemMaquina)
                    {
                        <div class="form-inline">
                            <label class="font-14 label-center"><span class="fa fa-desktop" aria-hidden="true"></span>  Computador: @maquina</label>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#removerMaquina" data-dismiss="modal">
                                Remover máquina
                            </button>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#verMaquina" id="veMaquina" data-dismiss="modal">
                                Ver máquina
                            </button>
                        </div>
                        <h2></h2>
                    }
                    else
                    {
                        <button type="button" class="btn btn-primary form-control" id="btnAdicionarMaquina" data-toggle="modal" data-target="#maquina" data-dismiss="modal">
                            Adicionar máquina
                        </button>
                        <h2></h2>
                    }
                    @if (Model.TemRamal)
                    {
                        <div class="form-inline">
                            <label class="font-14 label-center"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>  Ramal: @ramal</label>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#removerRamal" data-dismiss="modal">
                                Remover ramal
                            </button>
                        </div>
                        <h2></h2>
                    }
                    else
                    {
                        <button type="button" class="btn btn-primary form-control" data-toggle="modal" data-target="#ramal" data-dismiss="modal">
                            Adicionar ramal
                        </button>
                        <h2></h2>
                    }
                    @if (Model.TemPontoEletrico)
                    {
                        <div class="form-inline">
                            <label class="font-14 label-center"><span class="fa fa-plug" aria-hidden="true"></span>  Tomada: @pontoeletrico</label>
                        </div>
                        <h2></h2>
                    }

                    @if (Model.TemPontoRede)
                    {
                        <div class="form-inline">
                            <label class="font-14 label-center"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span>  Ponto de Rede: @pontorede</label>
                        </div>
                        <h2></h2>
                    }

                    @if (Model.TemPontoTelefone)
                    {
                        <div class="form-inline">
                            <label class="font-14 label-center"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>  Ponto de Telefone: @pontotelefone</label>
                        </div>
                        <h2></h2>
                    }
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>

    @Html.Partial("~/Views/Modais/_ModalUsuario.cshtml", Model.Id);
    @Html.Partial("~/Views/Modais/_ModalMaquina.cshtml", Model.Id);
    @Html.Partial("~/Views/Modais/_ModalRamal.cshtml", Model);
    @Html.Partial("~/Views/Modais/_ModalRemUsuario.cshtml", colaborador);
    @Html.Partial("~/Views/Modais/_ModalRemMaquina.cshtml", maquina);
    @Html.Partial("~/Views/Modais/_ModalRemRamal.cshtml", ramal);
    @Html.Partial("~/Views/Modais/_ModalError.cshtml");
    @Html.Partial("~/Views/Modais/_ModalTrocarUsuario.cshtml", Model.Id);
    @Html.Partial("~/Views/Modais/_ModalVerMaquina.cshtml", Model.Id);
    @Html.Partial("~/Views/Modais/_ModalTrocarMaquina.cshtml");
}

@if (User.IsInRole("GERENTE") || User.IsInRole("OUTROS"))
{
    <div class="modal fade" id="GerenteModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal" onclick="RetiraDestaqueMesa()">Fechar</button>
                    <h4 class="modal-title" id="myModalLabel">Mesa - @Model.Id</h4>
                </div>
                <div class="modal-body form-horizontal">
                    @if (!Model.TemColaborador && !Model.TemRamal && !Model.TemMaquina)
                    {
                        <label class="font-14 label-center">Mesa vazia</label>
                    }
                    @if (Model.TemColaborador)
                    {
                        <label class="font-14 label-center"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>  Nome: @colaborador</label>
                    }
                    @if (Model.TemMaquina)
                    {
                        <label class="font-14 label-center"><span class="fa fa-desktop" aria-hidden="true"></span>  Computador: @maquina</label>
                    }
                    @if (Model.TemRamal)
                    {
                        <label class="font-14 label-center"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>  Ramal: @ramal</label>
                    }
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
}


