@model List<InfraMap.Web.MVC.Models.MesaModel>

@Styles.Render("~/bundles/andarCss")
@{
    var mesa = Model.First(t => t.Id == ViewBag.idMesa);
    var nome = mesa.Colaborador != null ? mesa.Colaborador.Colaborador : "";
}
<div class="mesa" onclick="mesaClick(@ViewBag.idMesa)">
    <label class="form-group" id="@ViewBag.idMesa">@ViewBag.idMesa</label>
    <label class="nome">@nome</label>
    <div class="form-inline">
        @if (mesa.TemMaquina)
        {
            <span class="glyphicon glyphicon-hd-video" aria-hidden="true"></span>
        }

        @if (mesa.TemColaborador)
        {
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        }

        @if (mesa.TemRamal)
        {
            <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/mesa")
}