@model List<InfraMap.Web.MVC.Models.MesaModel>

@Styles.Render("~/bundles/andarCss")
@{
    var mesa = Model.First(t => t.Id == ViewBag.idMesa);
}
<div class="mesa" onclick="mesaClick(@ViewBag.idMesa)">
    <span>@ViewBag.idMesa</span>
    <span>@mesa.Colaborador</span>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/mesa")
}