<div style="width:100%" class="text-center">
    @Html.RouteLink("1º Andar", "EdicaoMapa", new { sede = "CWISL", andar = 1 }, new { @class = "btn btn-default", style = "width:16%" })
    @Html.RouteLink("2º Andar", "EdicaoMapa", new { sede = "CWISL", andar = 2 }, new { @class = "btn btn-default", style = "width:16%" })
    @Html.RouteLink("3º Andar", "EdicaoMapa", new { sede = "CWISL", andar = 3 }, new { @class = "btn btn-default", style = "width:16%" })
    @Html.RouteLink("4º Andar", "EdicaoMapa", new { sede = "CWISL", andar = 4 }, new { @class = "btn btn-default", style = "width:16%" })
    @Html.RouteLink("5º Andar", "EdicaoMapa", new { sede = "CWISL", andar = 5 }, new { @class = "btn btn-default", style = "width:16%" })
    @Html.RouteLink("6º Andar", "EdicaoMapa", new { sede = "CWISL", andar = 6 }, new { @class = "btn btn-default", style = "width:16%" })
</div>
