@model InfraMap.Web.MVC.Models.MesaModel

@{
    var colaborador = Model.Colaborador != null ? Model.Colaborador.Colaborador : "";
    var maquina = Model.Maquina != null ? Model.Maquina.Maquina : "";
    var ramal = Model.Ramal != null ? Model.Ramal.Ramal : "";
}
@if (User.IsInRole("INFRA"))
{
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Mesa - @Model.Id</h4>
                </div>
                <div class="modal-body form-horizontal">
                    @if (Model.TemColaborador)
                    {
                        <div class="form-inline">
                            <label class="form-control text-center"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>  Nome: @colaborador</label>
                            <button type="button" class="btn btn-danger form-control" data-toggle="modal" data-target="#removerColaborador" data-dismiss="modal">
                                Remover colaborador
                            </button>
                        </div>
                        <h2></h2>
                    }
                    else
                    {
                        <button type="button" class="btn btn-primary form-control" data-toggle="modal" data-target="#colaborador" data-dismiss="modal">
                            Adicionar colaborador
                        </button>
                        <h2></h2>
                    }
                    @if (Model.TemMaquina)
                    {
                        <div class="form-inline">
                            <label class="form-control text-center"><span class="glyphicon glyphicon-hd-video" aria-hidden="true"></span>  Computador: @maquina</label>
                            <button type="button" class="btn btn-danger form-control" data-toggle="modal" data-target="#removerMaquina" data-dismiss="modal">
                                Remover maquina
                            </button>
                        </div>
                        <h2></h2>
                    }
                    else
                    {
                        <button type="button" class="btn btn-primary form-control" data-toggle="modal" data-target="#maquina" data-dismiss="modal">
                            Adicionar maquina
                        </button>
                        <h2></h2>
                    }
                    @if (Model.TemRamal)
                    {
                        <div class="form-inline">
                            <label class="form-control text-center"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>  Ramal: @ramal</label>
                            <button type="button" class="btn btn-danger form-control" data-toggle="modal" data-target="#removerRamal" data-dismiss="modal">
                                Remover ramal
                            </button>
                        </div>
                        <h2></h2>
                    }
                    else
                    {
                        <button type="button" class="btn btn-primary form-control" data-toggle="modal" data-target="#ramal" data-dismiss="modal">
                            Adicionar ramal
                        </button>
                        <h2></h2>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="colaborador" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Adicionar colaborador</h4>
                </div>
                <div class="modal-body form-horizontal">
                    <input class="form-control" id="idMesa" value=@Model.Id type="hidden" />
                    <input class="form-control tamanho-colaborador" id="login" name="nome" placeholder="Procure o colaborador" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <button id="adicionaUsuario" type="button" class="btn btn-primary" data-dismiss="modal">Salvar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="maquina" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Adicionar maquina</h4>

                </div>
                <div class="modal-body form-horizontal">
                    <input class="form-control" id="idMesa" value=@Model.Id type="hidden" />
                    <input class="form-control" id="nomeMaquina" name="nome" placeholder="Nome da maquina" />
                    <h2></h2>
                    @Html.EnumDropDownListFor(m => m.Maquina.TipoMaquina, new { @id = "tipoMaquina", @class = "form-control" })
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <button id="adicionaMaquina" type="button" class="btn btn-primary" data-dismiss="modal">Salvar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ramal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Adicionar ramal</h4>
                </div>
                <div class="modal-body form-horizontal">
                    <input class="form-control" id="idMesa" value=@Model.Id type="hidden" />
                    <input class="form-control" id="numero" name="nome" placeholder="Digite um ramal" />
                    <h2></h2>
                    @Html.EnumDropDownListFor(m => m.Ramal.TipoRamal, new { @id = "tipoRamal", @class = "form-control" })
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <button id="adicionaRamal" type="button" class="btn btn-primary" data-dismiss="modal">Salvar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="removerColaborador" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Deseja remover?</h4>
                </div>
                <div class="modal-body">
                    <h2>Nome: @colaborador</h2>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <button id="removeColaborador" type="button" class="btn btn-primary" data-dismiss="modal">Salvar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="removerMaquina" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Deseja remover?</h4>
                </div>
                <div class="modal-body">
                    <h2>Computador: @maquina</h2>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <button id="removeMaquina" type="button" class="btn btn-primary" data-dismiss="modal">Salvar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="removerRamal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Deseja remover?</h4>
                </div>
                <div class="modal-body">
                    <h2>Ramal: @ramal</h2>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <button id="removeRamal" type="button" class="btn btn-primary" data-dismiss="modal">Salvar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="error" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Ocorreu um erro!</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalTrocarUsuario" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Mesa - @Model.Id</h4>
                </div>
                <div class="modal-body form-horizontal">
                    <label class="form-control text-center">Colaborador está em outra mesa.
                        Deseja mudar o colaborador de lugar?</label>
                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>   
                        <button id="trocarUsuario" type="button" class="btn btn-primary" data-dismiss="modal">Salvar</button>                     
                    </div>
                </div>
            </div>
        </div>
        }
        @if (!User.IsInRole("INFRA"))
        {
            <div class="modal fade" id="modalUsuario" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Mesa - @Model.Id</h4>
                        </div>
                        <div class="modal-body form-horizontal">
                            @if (!Model.TemColaborador && !Model.TemRamal && !Model.TemMaquina)
                            {
                                <label class="form-control text-center">Mesa vazia</label>
                            }
                            @if (Model.TemColaborador)
                            {
                                <label class="form-control text-center"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>  Nome: @colaborador</label>
                            }
                            @if (Model.TemMaquina)
                            {
                                <label class="form-control text-center"><span class="glyphicon glyphicon-hd-video" aria-hidden="true"></span>  Computador: @maquina</label>
                            }
                            @if (Model.TemRamal)
                            {
                                <label class="form-control text-center"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>  Ramal: @ramal</label>
                            }
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
        }


