@model InfraMap.Dominio.Sede.Andar.Andar
@{
    ViewBag.Title = "Terceiro";

}
<section class="andar">
    @if (User.IsInRole("GERENTE"))
    {
        Html.RenderPartial("_OpcoesGerente");
    }
    @if (User.IsInRole("INFRA"))
    {
        Html.RenderPartial("_OpcoesInfra");
    }
    <h2>CWI - São Leopoldo - 3º andar</h2>
    <div id="partial"></div>
    <div class="mesas-andar-3">
        @{
            int i_mesas = 309, num_mesas = 0;

            @Html.Raw("<div class=\"fileira pull-left\">");
            for (var i = 0; i < 9; i++, i_mesas--)
            {
                @Html.Partial("_Mesa", Model.Mesas, new ViewDataDictionary { { "idMesa", i_mesas }, { "mesaSelecionada", Model.MesaSelecionada } });
            }
            @Html.Raw("</div>");
            @Html.Raw("<div class=\"espaco-fileiras-cwi-sl\"></div>");
            while (i_mesas > 224)
            {
                @Html.Raw("<div class=\"fileira pull-left\">");
                for (var i = 0; i < 7; i++, i_mesas--, num_mesas++)
                {
                    @Html.Partial("_Mesa", Model.Mesas, new ViewDataDictionary { { "idMesa", i_mesas }, { "mesaSelecionada", Model.MesaSelecionada } });
                }
                @Html.Raw("</div>");

                if ((num_mesas % 14) == 0)
                {
                    @Html.Raw("<div class=\"espaco-fileiras-cwi-sl\"></div>");
                }
            }
            @Html.Raw("<div class=\"fileira pull-left\">");
            for (i_mesas = 217; i_mesas < 224; i_mesas++)
            {
              @Html.Partial("_Mesa", Model.Mesas, new ViewDataDictionary { { "idMesa", i_mesas }, { "mesaSelecionada", Model.MesaSelecionada } });
            }
            @Html.Raw("</div>");
            @Html.Raw("<div class=\"espaco-fileiras-cwi-sl\"></div>");
        }
        <div class="salas-norte-cwi-sl">
            <div class="sala" style="width: 250px; height: inherit">
                <h4 class="margin-sala-reuniao">Reunião 3.1</h4>
            </div>
            <div class="sala" style="width: 330px; height: inherit">
                <h4 class="margin-sala-reuniao">Reunião 3.2</h4>
            </div>
        </div>
    </div>
    <div class="salas-oeste-cwi-sl">
        <div class="sala" style="width: inherit; height: 665px">
            <h4 class="margin-sala-reuniao">Auditório</h4>
        </div>
        <div class="sala" style="width: inherit; height: 305px">
            <h4 class="margin-sala-reuniao">Diretoria</h4>
        </div>
    </div>
</section>
