@model InfraMap.Dominio.Sede.Andar.Andar
@{
    ViewBag.Title = "Quarto";
}
<section class="andar">
    <div class="pull-right">
        <button id="btn-selecionarColaboradores" type="button" class="btn btn-default pull-right">Selecionar colaboradores</button>
        <button id="btn-salvarColaboradores" class="btn btn-default pull-right" type="button">Salvar colaboradores</button>
    </div>
    <h2>CWI - São Leopoldo - 4º andar</h2>
    <div id="partial"></div>
    <div class="salas-sul-cwi-sl">
        <div class="sala" style="width: 380px; height: inherit">
            <h4 class="margin-sala-reuniao">Reunião 4.1</h4>
        </div>
        <div class="sala" style="width: 140px; height: inherit">
            <h4 class="margin-sala-reuniao">Reunião 4.2</h4>
        </div>
        <div class="sala" style="width: 140px; height: inherit">
            <h4 class="margin-sala-reuniao">Reunião 4.3</h4>
        </div>
        <div class="sala" style="width: 165px; height: inherit">
            <h4 class="margin-sala-reuniao">Reunião 4.4</h4>
        </div>
        <div class="sala" style="width: 245px; height: inherit">
            <h4 class="margin-sala-reuniao">Diretoria</h4>
        </div>
    </div>
    <div class="espaco-fileiras-cwi-sl"></div>
    @{
        int i_mesas = 109, num_mesas = 0;
        while (i_mesas < 216) {
            @Html.Raw("<div class=\"fileira pull-left\">");
            for (var i = 0; i < 6; i++, i_mesas++, num_mesas++)
	        {
                @Html.Partial("_Mesa", Model.Mesas, new ViewDataDictionary { { "idMesa", i_mesas }, { "mesaSelecionada", Model.GetMesaSelecionada() } });
            }
            @Html.Raw("</div>");

            @Html.Raw("<div class=\"fileira pull-right\">");
            for (var i = 0; i < 6; i++, i_mesas++, num_mesas++)
	        {
                @Html.Partial("_Mesa", Model.Mesas, new ViewDataDictionary { { "idMesa", i_mesas }, { "mesaSelecionada", Model.GetMesaSelecionada() } });
            }
            @Html.Raw("</div>");

            if ((num_mesas % 24) == 0) {
                @Html.Raw("<div class=\"espaco-fileiras-cwi-sl\"></div>");
            }
        }
    }
</section>
