@model InfraMap.Web.MVC.Models.AndarModel
@{
    ViewBag.Title = "Quinto";
}

<h2 class="inline padding-20 margin-20">CWISL - 5 ANDAR</h2>
<section class="andar">
    <div id="partial"></div>
    <div class="fileira">
        @Html.Partial("_Mesa", Model.Mesas, new ViewDataDictionary { { "idMesa", 107 } })
        @Html.Partial("_Mesa", Model.Mesas, new ViewDataDictionary { { "idMesa", 108 } })
        @Html.Partial("_Mesa", Model.Mesas, new ViewDataDictionary { { "idMesa", 109 } })
        @Html.Partial("_Mesa", Model.Mesas, new ViewDataDictionary { { "idMesa", 110 } })
        @Html.Partial("_Mesa", Model.Mesas, new ViewDataDictionary { { "idMesa", 111 } })
    </div>
</section>
