@model InfraMap.Web.MVC.Models.ModeloMaquinaModel

@using (Html.BeginForm("AdicionarModeloMaquina", "Maquina", FormMethod.Post))
{
    <div class="body-content">

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false)

        <div class="label-center margin-bottom-80">
            <div>
                <h2>Adicionar modelo</h2>
            </div>
            <div>
                <div class="form-group">
                    <h4>Modelo:</h4>
                    @Html.TextBoxFor(m => m.Modelo, new { @class = "form-control col-centered", placeholder = "Modelo do computador" })
                </div>
                <div class="form-group">
                    <h4>Processador:</h4>
                    @Html.TextBoxFor(m => m.Processador, new { @class = "form-control col-centered", placeholder = "Descrição do processador" })
                </div>
                <div class="form-group">
                    <h4>Pentes de Memória RAM:</h4>
                    <div style="width:320px;" class="col-centered">
                        <div style="width:158px;" class="inline-block">
                            <label class="inline-block">1:</label>
                            <div style="width:155px;" class="input-group col-centered">
                                @Html.TextBoxFor(m => m.MemoriaRamGB1, new { placeholder = "Tamanho", type = "number", min = 1, @class = "form-control" })
                                <div class="input-group-addon">GB</div>
                            </div>
                        </div>
                        <div style="width:158px;" class="inline-block">
                            <label class="inline-block">2:</label>
                            <div style="width:155px;" class="input-group col-centered">
                                @Html.TextBoxFor(m => m.MemoriaRamGB2, new { placeholder = "Tamanho", type = "number", min = 1, @class = "form-control" })
                                <div class="input-group-addon">GB</div>
                            </div>
                        </div>
                    </div>
                    <div style="width:320px;" class="col-centered">
                        <div style="width:158px;" class="inline-block">
                            <label class="inline-block">3:</label>
                            <div style="width:155px;" class="input-group col-centered">
                                @Html.TextBoxFor(m => m.MemoriaRamGB3, new { placeholder = "Tamanho", type = "number", min = 1, @class = "form-control" })
                                <div class="input-group-addon">GB</div>
                            </div>
                        </div>
                        <div style="width:158px;" class="inline-block">
                            <label class="inline-block">4:</label>
                            <div style="width:155px;" class="input-group col-centered">
                                @Html.TextBoxFor(m => m.MemoriaRamGB4, new { placeholder = "Tamanho", type = "number", min = 1, @class = "form-control" })
                                <div class="input-group-addon">GB</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <h4>Tamanho SSD:</h4>
                    <div class="input-group col-centered" style="width:320px;">
                        @Html.TextBoxFor(m => m.SSD, new { @class = "form-control", placeholder = "Tamanho do SSD", min = 1, type = "number" })
                        <div class="input-group-addon">GB</div>
                    </div>
                </div>
                <div class="form-group">
                    <h4>Tamanho HD:</h4>
                    <div class="input-group col-centered" style="width:320px;">
                        @Html.TextBoxFor(m => m.HD, new { @class = "form-control", placeholder = "Tamanho do HD", min = 1, type = "number" })
                        <div class="input-group-addon">GB</div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </div>
    </div>
}