<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Infra-Map</title>
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/Site.css")
    <link href="~/Content/easy-autocomplete.min.css" rel="stylesheet" />
    <link href="~/Content/easy-autocomplete.themes.min.css" rel="stylesheet" />
</head>
<body>
    <header class="navbar navbar navbar-fixed-top color-menu">
            <div class="container">
                <div class="navbar-header">
                    <h3 class="logo"></h3>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                </div>
                <div class="navbar-brand navbar-collapse collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><input form="form-control" id="auto-complete" name="nome" placeholder="Procure o funcionário" /></li>
                    </ul>
                </div>
                
            </div>
    </header>
    <section class="container body-content">
        @RenderBody()      
    </section>
    <footer class="footer text-center">
        <p>&copy; @DateTime.Now.Year - InfraMap - Todos os direitos reservados</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")  
    <script src="~/Content/jquery.easy-autocomplete.min.js"></script>
        @RenderSection("Scripts", false)
        <script>
            var usuarioAutoComplete = {
                url: "Base/UsuarioAutoComplete",
                getValue: "label",
                list: {
                    match: {
                        enabled: true
                    }
                }
            };
            $("#auto-complete").easyAutocomplete(usuarioAutoComplete);
        </script>
</body>
</html>