<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Infra-Map</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/jquery-ui")
    @Styles.Render("~/Content/jquery-ui.css")
    @Styles.Render("~/Content/jquery-ui.structure.css")
    @Styles.Render("~/Content/jquery-ui.theme.css")
</head>
<body>
    <!-- Barra de Navegação -->
    <header class="navbar navbar-default color-menu header">
        <div class="container-fluid">
            <!-- Cabeçalho barra de navegação -->
            <div class="navbar-header">
                <!-- Logo -->
                <a class="navbar-brand margin-navbar" href="~/Sede/Index">
                    <img alt="Brand" src="~/Content/img/logo.png">
                </a>
            </div>
            <!-- Botão de ação -->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle fa fa-user margin-navbar mouse-pointer" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">  @User.Identity.Name<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        @if (User.IsInRole("GERENTE"))
                        {
                            <li><a class="fa mouse-pointer" id="btn-selecionarColaboradores">Habilitar seleção de colaboradores</a></li>
                            <li><a class="fa mouse-pointer" id="btn-mudarCor">Mudar minha cor</a></li>
                            <li role="separator" class="divider"></li>
                        }
                        @if (User.IsInRole("INFRA"))
                        {
                            <li><a class="fa mouse-pointer" id="btn-AdicionarMaquinas">Adicionar novo modelo de máquina</a></li>
                            <li><a class="fa mouse-pointer" id="btn-EditarMaquinas">Editar modelo de máquina</a></li>
                            <li role="separator" class="divider"></li>
                        }
                        <li><a class="fa fa-sign-out" href='@Url.Action("Sair","Login")'>  Sair</a></li>
                    </ul>
                </li>
            </ul>
            <!-- Barra de pesquisa -->
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control fa fa-search margin-navbar" placeholder="&#xF002; Digite o nome do colaborador" id="carregar-usuario" name="nomeCarregar">
                 </div>
            </form>
        </div>
    </header>

    <div class="modal fade" id="erroUsuarioEmNenhumaMesa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Fechar</button>
                    <h4 class="modal-title" id="myModalLabel">Usuário não encontrado</h4>
                </div>
                <div class="modal-body">
                    <h3>Usuário procurado não está em uma mesa ou não existe.</h3>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalGeral" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal" onclick="RetiraDestaqueMesa()">Fechar</button>
                    <button type="button" class="btn btn-primary pull-right margin-right-5" id="SalvarCorGerente">Salvar</button>
                    <h4 class="modal-title" id="myModalLabel">Trocar cor</h4>
                </div>
                <div class="modal-body" style="align-items:center; text-align:center">
                </div>
                <div class="form-group" id="selectcolor" style="align-items:center; text-align:center">
                    <select name="color" id="choosecolor" class="form-control center-block">
                        <option value="">Selecione sua cor</option>
                        <option value="black" style="background-color:black"></option>
                        <option value="navy" style="background-color:navy"></option>
                        <option value="green" style="background-color:green"></option>
                        <option value="teal" style="background-color:teal"></option>
                        <option value="maroon" style="background-color:maroon"></option>
                        <option value="purple" style="background-color:purple"></option>
                        <option value="olive" style="background-color:olive"></option>
                        <option value="gray" style="background-color:gray"></option>
                        <option value="blue" style="background-color:blue"></option>
                        <option value="lime" style="background-color:lime"></option>
                        <option value="aqua" style="background-color:aqua"></option>
                        <option value="red" style="background-color:red"></option>
                        <option value="fuchsia" style="background-color:fuchsia"></option>
                        <option value="yellow" style="background-color:yellow"></option>
                        <option value="silver" style="background-color:silver"></option>
                    </select>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>

    <section class="box-container body-content">
        @RenderBody()
    </section>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Scripts/jquery-ui.js")
    @RenderSection("Scripts", false)

    <footer class="footer color-menu">
        <div class="container">
            <div class="container margin-footer">
                <p class="text-muted text-center">InfraMap - CWI Software - 2016</p>
            </div>
        </div>
    </footer>

</body>
</html>