<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Infra-Map</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <header class="navbar navbar color-menu">
        <div class="container">
            <div class="navbar-header">
                <a href="~/Login/Index"><h3 class="logo navbar-brand"></h3></a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
    </header>
    <section class="container">
        @RenderBody()
    </section>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/login")
    @RenderSection("Scripts", false)
</body>
</html>